<!DOCTYPE html>
<html>
  <body>
    <p id="notice"></p>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
     </thead>
    </table>
    <h2>New Book</h2>

  </body>
</html>